@use '../custom' as *;
@use '../components/mixins' as *;

.footer-bottom {
    background-color: $footer;
    color: $light-grey;
    font-family: 'Titillium Web', sans-serif;
    padding: 1.2rem 0;
    margin-top: 7rem;
    width: auto;

    .container {
        padding: 0;
    }

    .footer-logo {
        width: 13%;
        height: 13%;
    }

    .footer-nav {
        .nav-item {
            .nav-link {
                font-size: 1.2rem;
                font-weight: 600;
                text-transform: capitalize;
                text-align: end;
                letter-spacing: 0.1rem;
                padding: 0.5rem 0.5rem;
                padding-left: 1rem;
                transition: all 0.3s ease-in-out;
                &:hover {
                    color: $secondary;
                }
            }
        }
    }

    .active {
        color: $secondary;
    }

    .social-icons > a {
        color: $white;
        font-size: 1.5rem;
        margin: 0 0.3rem;
        transition: all 0.3s ease-in-out;
            &:hover {
                color: $secondary;
            }
    }
    

    .quick-links {
        letter-spacing: 0.1rem;
        padding: 0.5rem 0.5rem;
        list-style-type: none;
    }

    .additional-links {
        font-size: 1.2rem;
        font-weight: 600;
        text-transform: capitalize;
        //text-align: end;
        justify-content: end;
        letter-spacing: 0.3rem;
        padding: 0.5rem 0.5rem;
        display: flex;
        align-items: end;
        padding-right: 0;


            a {
                color: $little-light-grey;
                text-decoration: none;
                transition: all 0.3s ease-in-out;
                &:hover {
                    color: $secondary;
                }
            }
    }

    .footer-bottom__copyright {
        color: $little-light-grey;
        font-size: 1.1rem;
        font-weight: 500;
        text-transform: capitalize;
        text-align: center;
        letter-spacing: 0.1rem;
    }


    @include media-breakpoint-down(sm) {
        .footer {
            margin: 4rem 0 0 0;
            width: 100%;
            padding: 0;

        }

        .footer-logo {
            width: 30%;
            height: 30%;
        }
        .additional-links {
            display: none;
        }

        .footer-section {
            text-align: center;
        }

        .social-icons > a{
            justify-content: center;
            padding-top: 1.2rem;
            font-size: 2.2rem;
        }
      
    }

}